.Header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: rem(20) 0;

   &__actions {
      display: inline-flex;
      align-items: center;
      gap: rem(20);
   }
}