.SuperheroForm {
   display: flex;
   flex-direction: column;
   gap: rem(50);

   &__fields {
      display: flex;
      flex-direction: column;
      gap: rem(20);
   }
}

.Buttons {
   display: flex;
   justify-content: center;
   gap: rem(20);
}

.Button {
   &_hide {
      display: none !important;
   }
}