.AppLayout {
   display: grid;
   grid-template-rows: auto 1fr;

   height: 100%;
   gap: rem(50);

   padding: var(--mantine-spacing-md);

   &__main {
      flex: 1 1 auto;

      padding-bottom: var(--mantine-spacing-md);
   }
}