.SuperheroCard {
   gap: rem(20);
   &__button {
      margin-top: auto !important;
   }

   &__desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;

      text-overflow: ellipsis;
   }
}