//* Vars
$min-width: 320;

$transition-ease-200: 0.2s ease;

//** Break-points:
$breakpoint-xs: em(480);
$breakpoint-sm: em(768);
$breakpoint-md: em(992);
$breakpoint-lg: em(1200);
$breakpoint-xl: em(1440);